<template #content>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <p>Möchten Ihre Änderungen vorher speichern?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Ja</button>
    <button type="button" class="btn btn-secondary" (click)="discardChanges()">Nein</button>
  </div>
</template>

<div class="main-content">
  <div *ngIf="userAccount" class="container-fluid useraccount-infos">
    <h4>{{pageTitle}}</h4>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">*Benutzername</span>
      <input type="text"
             class="form-control form-control-success"
             [(ngModel)]="userAccount.Name"
             #name="ngModel"
             (ngModelChange)="viewChanged()"
             required>
    </div>
    <div *ngIf="name.errors && (name.dirty || name.touched)"
         class="alert alert-danger">
        <div [hidden]="!name.errors.required">
            Username is required
        </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">Vorname</span>
      <input type="text"
             class="form-control"
             [(ngModel)]="userAccount.Firstname"
             (ngModelChange)="viewChanged()">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">Nachname</span>
      <input type="text"
             class="form-control"
             [(ngModel)]="userAccount.Lastname"
             (ngModelChange)="viewChanged()">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">*Identifier</span>
      <input type="text"
             class="form-control"
             [disabled]="!isNewAccount"
             [(ngModel)]="userAccount.Identifier"
             #identifier="ngModel"
             (ngModelChange)="viewChanged()"
             required>
    </div>
    <div *ngIf="identifier.errors && (identifier.dirty || identifier.touched)"
         class="alert alert-danger">
        <div [hidden]="!identifier.errors.required">
            Identifier is required
        </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">E-Mail</span>
      <input type="text"
             class="form-control"
             [(ngModel)]="userAccount.EmailAddress"
             (ngModelChange)="viewChanged()">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">*Gültig ab</span>
      <input class="form-control" placeholder="yyyy-mm-dd"
             [(ngModel)]="userAccount.ValidFrom"
             (ngModelChange)="validFromChanged(userAccount.ValidFrom)"
             #validFrom="ngbDatepicker"
             ngbDatepicker
             name="dp"
             disabled>
      <div class="input-group-addon" (click)="validFrom.toggle()">
        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
    {{ userAccount.ValidFrom }}
    <div *ngIf="validFrom.errors && (validFrom.dirty || validFrom.touched)"
         class="alert alert-danger">
        <div [hidden]="!validFrom.errors.required">
            This date is required
        </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon input-group-addon-user">Gültig bis</span>
      <input class="form-control" placeholder="yyyy-mm-dd"
             [(ngModel)]="userAccount.ValidTo"
             (ngModelChange)="validToChanged(userAccount.ValidTo)"
             #validTo="ngbDatepicker"
             ngbDatepicker
             name="dpt"
             disabled>
      <div class="input-group-addon" (click)="validTo.toggle()">
        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
    {{ userAccount.ValidTo }}
    <hr>
    <h5>Mandanten</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Name</th>
          <th>zuweisen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mandator of mandators">
          <td>{{mandator.Title}}</td>
          <td>{{mandator.Name}}</td>
          <td>
            <input type="checkbox"
                   [(ngModel)]="mandator.IsAssigned"
                   (click)="toggleAssignedMandator(mandator)"
                   (ngModelChange)="viewChanged()">
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="button-container">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" (click)="save(errorContent)" [disabled]="!viewHasChanges || !assignedMandator || !name.value || !identifier.value">Speichern</button>
        <button type="button" class="btn btn-primary" (click)="cancle(content)">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
