.useraccount-infos {
    padding-bottom: 20px;
}

.useraccount-infos .input-group {
    margin-bottom: 10px;
}

.input-group-addon-user {
    min-width: 140px;
}

.button-container {
    margin-top: 5px;
}

.datepicker input {
    height: 38px !important;
}

.form-control-date {
    max-width: 250px;
}