<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.webServer>
        <customErrors mode="On" defaultRedirect="/src/app/components/error-pages/page-not-found/page-not-found.component.html">
            <error statusCode="404" redirect="/src/app/components/error-pages/page-not-found/page-not-found.component.html" />
            <error statusCode="401" redirect="/src/app/components/error-pages/unauthorized/unauthorized.component.html" />
        </customErrors>
    </system.webServer>
</configuration>