<div *ngIf="!isLoggedIn()" class="main-content unauthorized">
  <h1>
    {{unauthorizedTitle}} 
    <button class="btn btn-lg btn-outline-primary" (click)="login()">Login</button>
  </h1>
</div>
<div *ngIf="isLoggedIn()" class="main-content authorized">
  <h1>
    {{authorizedTitle}}
  </h1>
  <div class="container-fluid">
  </div>
  <div class="container cards-container">
    <div *ngFor="let route of routes" class="card">
      <div class="card-header">
        {{route.data['title']}}
      </div>
      <div class="card-block">
        Klicken sie auf folgenden Link, um ihre {{route.data['title']}} zu verwalten.
      </div>
      <a routerLink="{{route.path}}">{{route.data['title']}}</a>
    </div>
  </div>
</div>