<div class="main-content">  
  <h4>{{pageTitle}}</h4>
  <div *ngIf="filteredUsers" class="container-fluid">
    <div class="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search users" [(ngModel)]="searchString" (keyup)="searchUsers()">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Benutzername</th>
          <th class="hidden-xs-down">Name</th>
          <th class="hidden-sm-down">Vorname</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{user.username}}</td>
          <td class="hidden-xs-down">{{user.lastname}}</td>
          <td class="hidden-sm-down">{{user.firstname}}</td>
          <td>
            <button class="btn btn-default btn-view" (click)="selectUser(user)"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredUsers.length === 0" class="alert alert-warning" role="alert">
      Es wurden keine Benutzer gefunden!
    </div>
    <button class="btn btn-primary" (click)="createUser()">Benutzer hinzufügen</button>
  </div>
</div>