<div class="main-content">
  <div class="container-fluid users-container">
    <h4>{{pageTitle}}</h4>
    <div *ngIf="filteredUsers">
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Suche nach Benutzername, Name und Vorname" [(ngModel)]="searchString" (keyup)="searchUsers()">
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th (click)="orderByName()">
              <span>Benutzername</span>
              <span class="{{orderSymbolClass}}"></span>
            </th>
            <th class="hidden-xs-down" (click)="orderByLastname()">Name</th>
            <th class="hidden-sm-down" (click)="orderByFirstname()">Vorname</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers" on-dblclick="openUser(user)">
            <td>{{user.Name}}</td>
            <td class="hidden-xs-down">{{user.Lastname}}</td>
            <td class="hidden-sm-down">{{user.Firstname}}</td>
            <td>
              <button class="btn btn-default btn-view" (click)="openUser(user)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="filteredUsers === undefined || filteredUsers === null || filteredUsers.length === 0">
      <div class="alert alert-warning" role="alert">
        Es wurden keine Benutzer gefunden!
      </div>
    </div>
    <button [disabled]="!hasConnectionToServer" class="btn btn-primary" (click)="createUser()">Benutzer hinzufügen</button>
  </div>
</div>